<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neongarage.slakr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Course.CourseListActivity"
            android:label="@string/course_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Course.AddCourseActivity"
            android:label="@string/add_course"
            android:parentActivityName=".Course.CourseListActivity">
        </activity>
        <activity
            android:label="Course Summary"
            android:parentActivityName=".Course.CourseListActivity"
            android:name=".Course.CourseSummaryActivity">
         </activity>
    <activity android:name="org.achartengine.GraphicalActivity" />

        <activity
            android:name=".Assignment.AddAssignmentActivity"
            android:label="@string/add_assignment"
            android:parentActivityName=".Assignment.AssignmentListActivity">
        </activity>

        <activity
            android:name=".AddGradesActivity"
            android:label="@string/add_course"
            android:parentActivityName=".Assignment.AssignmentListActivity">
        </activity>
        <activity
            android:name=".Assignment.AssignmentListActivity"
            android:label="@string/course_details"
            android:parentActivityName=".Course.CourseListActivity">
        </activity>
    </application>

</manifest>
